body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 50%;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid rgb(55, 45, 193) 1px;
  background-color: aquamarine;
  padding-left: 10px;
  padding-right: 10px;
}
